<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BackEndDeveloperAssessment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <main id="main-container" role="main" class="pb-3 col-md-12 row">
        <div id="sidebar-container" class="col-md-2" style="background-color:#808080">
            <h1>Temporary Filler</h1>
            <div class="row">
                <a href=@Url.Action("Index","Students")>Students</a>
            </div>
            <div class="row">
                <a href=@Url.Action("Index","Schools")>Schools</a>
            </div>
        </div>
        <div id="content-container" class="col-md-10">
            @RenderBody()
        </div>
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BackEndDeveloperAssessment - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>
