@{
    ViewData["Title"] = "Home Page";
}

<div id="main-container" class="text-center row">
    <div id="sidebar-container" class="col-md-2">
        <h1>Temporary Filler</h1>
    </div>
    <div id="content-container" class="col-md-10">
        <h1 style="text-align:center">Main Content Filler</h1>
    </div>
</div>
